@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
button {
	@apply focus:outline-none;
}
.colorful-text {
	@apply text-primary dark:text-secondary;
}
.normal-text {
	@apply text-black dark:text-white;
}
.colorful-bg {
	@apply bg-primary dark:bg-secondary;
}
.normal-bg {
	@apply bg-white dark:bg-black;
}
.colorful-button {
	@apply bg-primary dark:bg-secondary ring-2 ring-primary dark:ring-secondary rounded-lg;
}
.colorful-button:hover {
	@apply bg-white text-primary dark:bg-black dark:text-secondary;
}
.colorful-border {
	@apply border-primary dark:border-secondary;
}
.flex-vertical {
	@apply flex flex-col;
}
.flex-horizontal {
	@apply flex flex-row;
}
