@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.colorful-text {
	@apply text-primary dark:text-secondary;
}
.normal-text {
	@apply text-black dark:text-white;
}
.colorful-background {
	@apply bg-primary dark:bg-secondary;
}
.colorful-background:hover {
	@apply bg-white text-primary dark:bg-black dark:text-secondary;
}
